<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writing App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
      <h1>Random Words Writing Prompt</h1>
      <h3>Test your writing skills by using this random word generator. If you like your writing, feel free to submit it to the gallery. Press Reset Prompt to generate new words.</h3>
    <!-- Navigation to gallery -->
    <form action="/gallery" method="GET">
        <button type="submit" id="galleryButton">View Gallery</button>
    </form>
      
      <!-- Displays the random words -->
      <p ><strong>Prompt:</strong> <%= prompt %></p>

      <!-- Writing submission form -->
      <form action="/save" method="POST">
          <input type="hidden" name="promptText" value="<%= prompt %>">
          <textarea name="writing" rows="10" cols="50" placeholder="Start writing here..." required></textarea>
          <br>
          <button type="submit">Submit Writing</button>
      </form>

      <!-----Reset button to generate new random words -->
      <form action="/" method="GET">
          <button type="submit">Reset Prompt</button>
      </form>

      
  </div>
  <script src="/main.js"></script>
</body>
</html>
